.meal {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d83600;
    &.hidden {
      display: none;
    }
  }
  &-title{
    font-family: Arial, Helvetica, sans-serif;
    color: #d83600;
    text-align: left;
    color: inherit;
    font-size: 20px;
    padding: 0;
  }
  &-price{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding-left: 10px;
    text-align: right;
    letter-spacing: 1.5;
    color: inherit;
    font-size: 16px;
    color: #d83600;
    font-weight: bolder;
  }
  &-description {
    font-weight: normal;
    font-size: 18px;
    clear: left;
  }
  &-custom{
    padding: 3px 0px;
    > li > h3{
      color: #BF390B;
      font-size: 1.1em;
    }
    > li {
      float: left;
      padding: 0px 5px;
    }
  }
  &-image {
    padding: 3px;
    width: 50%;
    > img{
      display: block;
      border: 1px solid #BF390B;
      width: 95%;
    }
    + li{
      width: 50%;
    }
    &-two {
      +li+li {
        width: 50%;
      }
    }
    &-three {
      +li+li, +li+li+li {
        width: 50%;
      }
    }
    &-full {
      +li+li, +li+li+li, +li+li+li+li, li+li+li+li+li, li+li+li+li+li+li {
        width: 50%;
      }
    }
    &--loading {
      background: #fff url(../../../assets/gif/ajax-loader.gif) no-repeat center center fixed;
    }
  }
  &--isShared {
    clear: left;
    padding: 0px 5px;
    width: 50%;
    + li {
      padding: 0px 5px;
      width: 50%;
    }
  }
  &--isSpecial {
    .meal-header {
      flex-wrap: wrap;
    }
    .meal-title {
      position: relative;
      &::after{
        padding: 0 4px;
        content: "\2605 \2605";
        font-size: 22px;
        display: inline-block;
        color: #f4e842;
      }
    }
  }
  @media (max-width: 576px) {
     /* Arrange price and title float in smaller screens. */
    &-price {
      float: left;
    }
    &-title{
      display: block;
      width: 100%;
    }
    &--isShared {
      clear: none;
      padding: 0;
      width: 100%;
      + li {
        padding: 0;
        width: 100%;
      }
    }
    /* resets image size */
    .meal-image-one +li, .meal-image-one + li + li{
      width: 100%;
    }
    .meal-image-two + li+li, .meal-image-two +li{
      width: 100%;
    }
    .meal-image-full +li+li, .meal-image-full +li, .meal-image-full+li+li+li, .meal-image-full+li+li+li+li+li+li{
      width: 100%;
    }
    /* sets appropriate width of following meals */
    .meal-image-one + li, .meal-image-two + li, .meal-image-full +li{
      width: 50%;
    }
  }
}
