.meal-header{
  color: #BF390B;
}
.meal-title{
  font-family: 'Kumar One', cursive;
  color: inherit;
  font-size: 1.2em;
  display: inline-block;
  width: auto;
  padding: 0;
  float: left;
}
.meal-price{
  position:relative;
  letter-spacing: 1.5;
  color: inherit;
  display: block;
  float: right;
  font-size: 1.4em;
  color: #BF390B;
  font-weight: bolder;
}
.meal-price:hover:after{
  content: "Edit!";
  position: absolute;
  left: 40px;
}
/* Meal description! */
.meal > p{
  text-indent: 5px;
  font-size: 1.4em;
  line-height: 95%;
  clear: left;
}

/* sub module states */

.meal-custom{
  padding: 3px 0px;
}
.meal-custom > li > h3{
  color: #BF390B;
  font-size: 1.1em;
}

.meal-image > img{
  display: block;
  border: 1px solid #BF390B;
  width: 95%;
}

img.meal-image-loading{
  background: #fff url(../../../assets/gif/ajax-loader.gif) no-repeat center center fixed;
}

li.meal-image{
  padding: 3px;
  width: 50%;
}
.meal-image + li{
  width: 50%;
}
.meal-image-two +li+li{
  width: 50%;
}
.meal-image-three +li+li, .meal-image-three+li+li+li{
  width: 50%;
}
.meal-image-full + li+li, .meal-image-full+li+li+li, .meal-image-full+li+li+li+li, .meal-image-full+li+li+li+li+li{
  width: 50%;
}

/* Meal STATES */
li.meal-is-shared{
    clear: left;
    padding: 0px 5px;
    width: 50%;
}
.meal-is-shared + li{
    padding: 0px 5px;
    width: 50%;
}

.meal-special{
  position: relative;
}

.meal-special:after{
  position: absolute;
  right: -50px;
  top: -5px;
  content: "\2605 \2605";
  font-size: 22px;
  display: inline-block;
  color: #f4e842;
}
.meal-custom > li{
  float: left;
  padding: 0px 5px;
}

@media only screen and (max-width: 767px){




}

/* IPHONE SCREEN SIZE */

@media (max-width: 576px) {


  /* Arrange price and title float in smaller screens. */

  .meal-price{
    float: left;
  }
  .meal-title{
    display: block;
    width: 100%;
  }

    /* resets image size */

    .meal-image-one +li, .meal-image-one + li + li{
      width: 100%;
    }

    .meal-image-two + li+li, .meal-image-two +li{
      width: 100%;
    }
    .meal-image-full +li+li, .meal-image-full +li, .meal-image-full+li+li+li{
      width: 100%;
    }

  /* sets appropriate width of following meals */

  .meal-image-one + li, .meal-image-two + li, .meal-image-full +li{
    width: 50%;
  }

  /* arrange side by side meals state to make full width */

  li.meal-is-shared{
      clear: none;
      padding: 0;
      width: 100%;
  }
  .meal-is-shared + li{
      padding: 0;
      width: 100%;
  }

}
