.meal-header{
  color: #BF390B;
}
.meal-title{
  font-family: 'Kumar One', cursive;
  color: inherit;
  font-size: 1.2em;
  display: inline-block;
  width: auto;
  padding: 0;
  float: left;
}
.meal-price{
  position:relative;
  letter-spacing: 1.5;
  color: inherit;
  display: block;
  float: right;
  font-size: 1.2em;
  color: #BF390B;
  font-weight: bolder;
}
.meal-price:hover:after{
  content: "Edit!";
  position: absolute;
  left: 40px;
}

/* Meal description! */
.meal > p{
  text-indent: 5px;
  font-size: 1.1em;
  clear: left;
}

/* sub module states */

.meal-custom{
  padding: 3px 0px;
}
.meal-custom > li > h3{
  color: #BF390B;
}

li.meal-image-one, li.meal-image-two, li.meal-image-full{
  padding: 3px;
  width: 50%;
}
.meal-image-one > img, .meal-image-two > img, .meal-image-full > img{
  width: 97%;
  border: 1px solid #902e15;
}
.meal-image-one + li{
  width: 50%;
}
.meal-image-two + li+li, .meal-image-two +li{
  width: 50%;
}
.meal-image-full +li+li, .meal-image-full +li, .meal-image-full+li+li+li{
  width: 50%;
}

/* Meal STATES */
.meal-special{
  position: relative;
}

.meal-special:after{
  position: absolute;
  right: -50px;
  top: -5px;
  content: "\2605 \2605";
  font-size: 22px;
  display: inline-block;
  color: #f4e842;
}
.meal-custom > li{
  float: left;
  padding: 0px 5px;
}

@media only screen and (max-width: 767px){

    /* make everything take up the entire width of the viewport, all meals
    li.meal-image-one, li.meal-image-two, li.meal-image-full{
      padding: 3px;
      width: 50%;
    }
    */
    .meal-image-one + li, .meal-image-one + li+li{
      width: 50%;
    }
    /*
    .meal-image-two + li+li, .meal-image-two +li{
      width: 100%;
    }
    .meal-image-full +li+li, .meal-image-full +li, .meal-image-full+li+li+li{
      width: 100%;
    }
    */

}

/* IPHONE SCREEN SIZE */

@media (max-width: 576px) {


  .meal-price{
    float: left;
  }
  .meal-title{
    display: block;
    width: 100%;
  }

    /* resets image size */

    .meal-image-one +li, .meal-image-one + li + li{
      width: 100%;
    }

    .meal-image-two + li+li, .meal-image-two +li{
      width: 100%;
    }
    .meal-image-full +li+li, .meal-image-full +li, .meal-image-full+li+li+li{
      width: 100%;
    }

  /* sets appropriate width of following meals */

  .meal-image-one + li, .meal-image-two + li, .meal-image-full +li{
    width: 50%;
  }


}
