@media print{

    /* sets main container to fit the entire tabloid size*/
  .main-section{
    height: 1480px;
  }
  /*move up skyline to make everything fit */
  .skyline {
  width: 100%;
  position: relative;
  bottom: 200px;
  }
  .skyline > img{
    max-width: 100%;
  }

}
