html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
}

img{
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

h2, h3{
  font-family: 'Kumar One', cursive;
  color: #FFF;
}

p{
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1.2;
}

h3{
  font-size: 1.1em;
}

ul, ol{
  list-style: none;
  padding: 0;
}

.blue{
  background-color: #2c74e8;
  color: #fff;
}
.green{
  background-color: #00802b;
  color: #fff;
}
.purple{
  background-color: #9900cc;
  color: #fff;
}
.red{
  background-color: #FF0000;
  color: #fff;
}
.yellow{
  background-color: #fff023;
  color: #000;
}
.orange{
  background-color: #ff8000;
  color: #fff;
}


.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.row{
  padding: 5px;
}
.col-md-2{
  float: left;
  width: 50%;
}



.top-banner{
  position: relative;
  width: 100%;
  height: 150px;
  background-color:  #c1390b;
  border-bottom: 30px solid #0B409C;
  border-top: 15px solid #b4a389;
  z-index: -1
}
.lady-liberty{
  display: block;
  position: absolute;
  top: 5px;
  right: 0px;
  width: 200px;
  height: auto;
}
.brooklyn-bridge{
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  width: 400px;
  height: auto;
  z-index: 0;
}

.main-section{
  height: 1450px;
  background: linear-gradient(#35a9e3, #D2ECF9);
  position: relative;
}

.skyline{
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.station-letter{
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 5px;
  border: 4px solid transparent;
  border-radius: 50%;
}

.subway-frame{
  padding: 15px;
  border-bottom: 5px solid #cc3300;
  border-left: 5px solid #009933;
  border-bottom-left-radius: 25px;
}

.menu{
  padding: 0px 10px;
}

.menu-header{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  padding: 7px 7px 8px 10px;
  padding-top: 15px;
  text-transform: capitalize;
}

.menu-header h2{
  display: inline-block;
  font-family: inherit;
  font-size: 2em;
  padding-top: 8px;
  border-top: 3px solid #fff;
  letter-spacing: 3;
  font-weight: normal;
  float: left;
}
.menu-header span{
  display: inline-block;
  float: right;
  margin: 10px 3px 2px 3px;
}

.meal-list h3{
  font-size: 1.2em;
  display: inline-block;
  width: auto;
  padding: 0;
  float: left;
  color: #902e15;
}
.meal-list span{
  font-family: inherit;
  display: block;
  float: right;
  font-size: 1.2em;
  color: #902e15;
  font-weight: bold;
}
.meal-list p{
  clear: both;
}
.menu img{
  display: inline-block;
  margin-right: 8px;
  width: 200px;
  height: auto;
  border: 2px solid #b4a389;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.cover-background{
  height: 1635px;
  background: url(assets/raster/newyork_cover1.png) no-repeat center center;
  background-size: cover;
  position: relative;
}

.cover-title{
  font-family: 'Kumar One', cursive;
  position: relative;
  top: 350px;
  text-align: center;
}

.cover-title h1{
  font-size: 100px;
  color: rgba(51,51,51, 0.85)
}
.cover-title p{
  position: relative;
  font-size: 40px;
  top: 560px;
  color: rgba(255, 255, 255, 0.84);
}

.cover-filter{
  width: 100%;
  height: 100%;
  background-color: rgba(244, 209, 66, 0.2);
}

.american-flag{

  width: 90%;
  height: auto;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;

  z-index: 0;
}
