.top-banner-stars{
  position: absolute;
  color: #fff;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.top-banner-stars:after{
  font-size: 30px;
  content: "\2605\2605\2605\2605";
  letter-spacing: 35;
}

.top-banner{
  position: relative;
  width: 100%;
  height: 160px;
  background-color:  #008bcc;
  border-bottom: 30px solid #BF390B;
  border-top: 15px solid #007AB5;
}
.lady-liberty{
  display: block;
  position: absolute;
  top: 3px;
  right: 0px;
  width: 170px;
  height: auto;
}
.brooklyn-bridge{
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  width: 300px;
  height: auto;
  z-index: 0;
}

/* IPHONE SCREEN SIZE */
@media (max-width: 576px) {

  .top-banner-stars:after{
    font-size: 14px;
    letter-spacing: 15;
  }

  .top-banner{
    width: 100%;
    height: 100px;
    border-bottom: 15px solid #BF390B;
  }
  .lady-liberty{
    top: 3px;
    right: 0px;
    width: 80px;
  }
  .brooklyn-bridge{
    left: 0px;
    top: 13px;
    width: 150px;

  }


}
