.category {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 5px;
  clear:both;
  position: relative;
  &-header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    padding: 8px 7px 3px 5px;
    text-transform: capitalize;
    margin-bottom: 5px;
    white-space: nowrap;
    > h2 {
      color: #fff;
      font-family: inherit;
      font-size: $text-size--header;
      padding-top: 2px;
      border-top: 1px solid #fff;
      letter-spacing: 1px;
      font-weight: normal;
      float: left;
      @media (max-width: 576px) {
        width: 100%;
      }
    }
    > span{
      float: right;
      margin-left: 5px;
      @media (max-width: 576px) {
        float: left;
      }
    }
  }
  &-list{
    padding: 5px 0;
    width: 100%;
    > li{
      display: block;
      float: left;
      margin-bottom: 2px;
    }
  }
  &-description{
    font-size: $text-size--base;
  }
}

// @TODO: Move into its own component 
.station-letter{
  display: inline-block;
  text-transform: uppercase;
  font-size: $text-size--base;
  font-weight: bold;
  padding: 0 5px;
  border: 2px solid transparent;
  border-radius: 50%;
}