.footer-skyline{
  width: 100%;
  position: relative;
}

.footer-skyline > img{
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.footer-warning{
  max-width: 960px;
  position: absolute;
  padding: 5px;
  border: 2px solid #BF390B;
  color: #fff;
  bottom: 5px;
  left: 25px;
}
.footer-warning > h5{
  font-size: 1.0em;
  text-transform: uppercase;
}
