.blue{
    background-color: #2c74e8;
    color: #fff;
  }
.green{
    background-color: #00802b;
    color: #fff;
}
.purple{
    background-color: #9900cc;
    color: #fff;
}
.red{
    background-color: #FF0000;
    color: #fff;
}
.yellow{
    background-color: #fff023;
    color: #000;
}
.orange{
    background-color: #ff9933;
    color: #fff;
}
.brown{
    background-color: #D2691E;
    color: #FFF;
}
.grey{
    background-color: #778899;
    color: #fff;
}