.cover {
  &-background {
    height: 1635px;
    background: url(../../assets/raster/cover3.png) no-repeat -180px center;
    background-size: cover;
    position: relative;
  }
  &-title {
    font-family: 'Kumar One', cursive;
    position: relative;
    top: 150px;
    text-align: center;
    color: rgba(255, 255, 255, 0.84);
    font-size: 40px;
    > h1 {
      font-size: 100px;
      color: rgba(51,51,51, 0.85)
    }
    > p {
      color: inherit;
    }
    > ul {
      font-size: 30px;
      position: relative;
      top: 770px;
    }
  }
  &-subtitle {
    position: relative;
    top: 15px;
    color: inherit;
  }
  &-filter {
    width: 100%;
    height: 100%;
    background-color: rgba(244, 209, 66, 0.2);
  }
}
.back-cover-image{
  position: relative;
  top: 260px;
}
