/*
----- BASE STYLES!!
*/

html, body{
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  
  *{
    box-sizing: border-box;
  }
  
  img{
    width: 100%;
    height: auto;
  }
  
  h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
  }
  
  h2, h3{
    font-family: 'Kumar One', cursive;
    color: #902e15;
  }
  
  h3{
    font-size: 1.1em;
  }
  
  ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
  }