/*
----- BASE STYLES!!
*/

html, body{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

*{
  box-sizing: border-box;
}

img{
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

h2, h3{
  font-family: 'Kumar One', cursive;
  color: #902e15;
}

p{
  color: #000;
  font-weight: bold;
  letter-spacing: 1.2;
  font-size: 1.2em;
}

h3{
  font-size: 1.1em;
}

ul, ol{
  list-style: none;
  padding: 0;
}

/*
---- LAYOUT STYLES
*/

.main-section{
  background: linear-gradient(#D8E6EC, #8DC6FF);
}

.l-fl{
  float:left;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.row{
  padding: 5px;
  position:relative;
  z-index: 1;
}
.col-md-2{
  float: left;
  width: 50%;
}
.l-subway-frame{
  padding: 15px;
  border-bottom: 5px solid #cc3300;
  border-left: 5px solid #3F72AF;
  border-bottom-left-radius: 25px;
}

.linebreak{
  padding: 2px 0;
  border-bottom: 3px solid #000;
}

.edit{
  display:inline-block;;
  padding:0;
  margin:0;
  background: transparent;
  max-width: 80px;
}


/*
-- STATE STYLES!
*/

.hidden{
  display: none;
  visibility: none;
}

.blue{
  background-color: #2c74e8;
  color: #fff;
}
.green{
  background-color: #00802b;
  color: #fff;
}
.purple{
  background-color: #9900cc;
  color: #fff;
}
.red{
  background-color: #FF0000;
  color: #fff;
}
.yellow{
  background-color: #fff023;
  color: #000;
}
.orange{
  background-color: #ff9933;
  color: #fff;
}
.brown{
  background-color: #D2691E;
  color: #FFF;
}
.grey{
  background-color: #778899;
  color: #fff;
}
.station-letter{
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 5px;
  border: 4px solid transparent;
  border-radius: 50%;
}

.american-flag{
  width: 90%;
  height: auto;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
}

/* FIX HACKS! */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


@media only screen and (max-width: 767px){

    /* make everything take up the entire width of the viewport, all meals */
    .col-md-2{
      float: none;
      width: 100%;
    }

}
