@media print{

    /* sets main container to fit the entire tabloid size*/
  .main-section{
    height: 1480px;
  }
  /*move up skyline to make everything fit */
  .footer-skyline {
    position: absolute;
    bottom: 0px;
  }
  .footer-skyline > img{
    max-width: 100%;
  }
  /*hide nav bar */
  .page-nav{
    display: none;
  }

}
